
.zerogrid{
    width: 1400px;
    height: 870px;
    background-image: linear-gradient(#bfa,rgb(255, 190, 168));
    position: relative;
}
.wrap-header{
width: 1200px;
margin-top: 60px;
margin-left: 100px;
background-color: rgb(226,219,76);
height: 750px;
position: absolute;

}
.wrap-body{
    background-attachment: fixed;
    width: 1330px;
    /* height: 870px; */
    margin: 0 auto;
    background-repeat: no-repeat;
    /* background-color: yellow */
}
.logo{
    width: 1200px;
    height: 200px;
    background-color: #fff;
     /* margin-top: 10px; */
}
.logo img{
    width: 130px;
    height: 130px;
    position: absolute;
    margin-top: 40px;
    margin-left: 535px;
}
.shell{
    display: flex;
    justify-content: center;
}
.button,.portrait{
    background-color: rgb(226,219,76);
    width: 170px;
    height: 65px;
    text-align: center;
   line-height: 65px;
   transition: .3s;
   cursor: pointer;
   font-size: 25px;
}
.portrait::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(30px,-30px);
 background-image: url(../img/tupian2.jpg);
    background-size: cover;
    border: 10px solid #fff;
}
.information{
    width: 220px;
    background-color: #78d1d2;
    transform: translate(-20px,-200px);
    border-radius: 10px;
    padding: 20px 0;
    line-height: 0;
    height: 0;
    transition: .3s;
    opacity: 0;
}
.button:hover{
    background-color: rgb(217,228,138);
}
.button li:hover{
    background-color: rgb(210,220,221);
}
.button ul li{
    height: 0;
    transition: .2s;
    opacity: 0;
    transform: translateY(-65px);
    background-color: rgb(210,220,221);
}
.button:hover li{
    height: 65px;
    opacity: 1;
    transform: translateY(0);
}
.portrait:hover .information{
    opacity: 1;
    line-height: 65px;
    transform: translate(-20px,-10px);
    height: auto;
}
.nav li:hover{
    background-color: rgb(217,228,138);
} 
.atupian{
    width: 800px;
    /* background-color: #F4BBBB; */
    height: 620px;
}
.atupian img{
    width: 1200px;
    height: 520px;
}
.wb{
    width: 1519.2px;
    height: 620px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}
.wba{
    width: 1400px;
    height: 620px;
    background-image: linear-gradient(rgb(205, 245, 195),blanchedalmond);
    position: relative;
    color: black;
    font-size: 25px;
    text-align: center;
    padding-top: 60px;
    line-height: 55px;
}
.wbb{
    width: 1519.2px;
    height: 100px;
    background-color: blanchedalmond;
    color: black;
    font-size: 25px;
    padding-top: 40px;
}